@model IEnumerable<BibliotecaMVC.Models.Prestamo>

<h2>Historial de Préstamos</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Libro</th>
            <th>Solicitante</th>
            <th>Fecha Préstamo</th>
            <th>Fecha Devolución</th>
            <th>Devuelto</th>
            <th>Días Retraso</th>
            <th>Multa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Libro.Titulo</td>
                <td>@p.NombreSolicitante</td>
                <td>@p.FechaPrestamo.ToShortDateString()</td>
                <td>@p.FechaDevolucionReal?.ToShortDateString()</td>

                <td>
                    <span class="badge bg-success">Sí</span>
                </td>

                <td>
                    @if (p.DiasRetraso > 0)
                    {
                        <span class="text-danger">@p.DiasRetraso</span>
                    }
                    else
                    {
                        <span>0</span>
                    }
                </td>

                <td>
                    @if (p.Multa.HasValue && p.Multa > 0)
                    {
                        <span class="text-danger">
                            $@p.Multa.Value
                        </span>
                    }
                    else
                    {
                        <span>$0</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-secondary" asp-action="Index">Volver a Préstamos Activos</a>
